<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>705178436723-ojigmhkh6l2tuegbj1mtj2dq5dd7nrk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.705178436723-ojigmhkh6l2tuegbj1mtj2dq5dd7nrk7</string>
	<key>API_KEY</key>
	<string>AIzaSyAheuYPYLENnlSkMr9DfTE2Ua8IkESJu5A</string>
	<key>GCM_SENDER_ID</key>
	<string>705178436723</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.stravaFoodApp</string>
	<key>PROJECT_ID</key>
	<string>strava-food-app</string>
	<key>STORAGE_BUCKET</key>
	<string>strava-food-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705178436723:ios:4cb2f9abc24fa271f1d606</string>
</dict>
</plist>